@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-Light.eot");
    src: url($fontPath + "/VattenfallHall-Light.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-Light.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-LightItalic.eot");
    src: url($fontPath + "/VattenfallHall-LightItalic.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-LightItalic.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-Regular.eot");
    src: url($fontPath + "/VattenfallHall-Regular.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-Regular.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-RegularItalic.eot");
    src: url($fontPath + "/VattenfallHall-RegularItalic.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-RegularItalic.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-Medium.eot");
    src: url($fontPath + "/VattenfallHall-Medium.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-Medium.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-MediumItalic.eot");
    src: url($fontPath + "/VattenfallHall-MediumItalic.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-MediumItalic.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Vattenfall Hall Display";
    src:     url($fontPath + "/VattenfallHallDisplay-Bold.eot");
    src: url($fontPath + "/VattenfallHallDisplay-Bold.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHallDisplay-Bold.woff2") format("woff2"),
         url($fontPath + "/VattenfallHallDisplay-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Vattenfall Hall Bold";
    src:     url($fontPath + "/VattenfallHall-Bold.eot");
    src: url($fontPath + "/VattenfallHall-Bold.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-Bold.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-BoldItalic.eot");
    src: url($fontPath + "/VattenfallHall-BoldItalic.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-BoldItalic.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-BoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-Heavy.eot");
    src: url($fontPath + "/VattenfallHall-Heavy.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-Heavy.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-Heavy.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Vattenfall Hall";
    src:     url($fontPath + "/VattenfallHall-HeavyItalic.eot");
    src: url($fontPath + "/VattenfallHall-HeavyItalic.eot?#iefix") format("embedded-opentype"),
         url($fontPath + "/VattenfallHall-HeavyItalic.woff2") format("woff2"),
         url($fontPath + "/VattenfallHall-HeavyItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}


// Icons

@font-face {
  font-family: 'vf-icons';
  src:  url($fontPath + '/vf-icons.eot?o2vgyw');
  src:  url($fontPath + '/vf-icons.eot?o2vgyw#iefix') format('embedded-opentype'),
    url($fontPath + '/vf-icons.ttf?o2vgyw') format('truetype'),
    url($fontPath + '/vf-icons.woff?o2vgyw') format('woff'),
    url($fontPath + '/vf-icons.svg?o2vgywd#vf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vf-icon-"], [class*=" vf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */

  &:before{
    font-family: 'vf-icons' !important;
    font-size: 24px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.vf-icon-placeholder:before {
  content: "\e900";
}
.vf-icon-settings:before {
  content: "\e901";
}
.vf-icon-up:before {
  content: "\e902";
  font-size: 7px;
}
.vf-icon-down:before {
  content: "\e903";
  font-size: 7px;
}
.vf-icon-left:before {
  content: "\e904";
}
.vf-icon-right:before {
  content: "\e905";
}
.vf-icon-question{
  cursor: pointer;
  &:before {
    content: "\e906";
    color: #999999;
  }
  &:hover{
    &:before{
      color: #1964a3;
    }
  }
}