@import "default-import";

@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

html {
  font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 1.6rem;
//   }
// }

// To prevent revealed elements from flickering
html.sr .reveal {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-wrap: break-word;
}

@import "borders";
@import "fonts";
@import "grid";
@import "typo";

@import "utilities/display";
@import "utilities/flex";
@import "utilities/responsive";
@import "utilities/spacing";
@import "utilities/sizing";

@import "components/button";
@import "components/card";
@import "components/footer";
@import "components/hero";
@import "components/image-with-caption";
@import "components/image-with-icon";
@import "components/media-block";
@import "components/linked-list-block";
@import "components/nav";
@import "components/navbar";
@import "components/large-quote";
@import "components/small-quote";
@import "components/two-column-boxes";
@import "components/vf-navbar";
@import "components/pagination";
@import "components/progress";
@import "components/button-group";
@import "components/list";
@import "components/numbered-list";
@import "components/badge";
@import "components/preloader";
@import "components/cookie-banner";
@import "components/image-block"; 
@import "components/table";
@import "components/tooltip";
@import "components/tab-bar";
@import "components/topbar";
@import "components/file-list";
@import "components/drop-down";
@import "components/input";
@import "components/utility-typography";
@import "components/notification-module";

@import "docs/startpage-news";

@import "utilities/background";
@import "utilities/clearfix";
@import "utilities/text";
@import "utilities/screenreaders";
