// stylelint-disable declaration-no-important, selector-list-comma-newline-after

@mixin headline-base {
  font-family: "Vattenfall Hall Display", Helvetica, sans-serif;
  font-weight: 600;
}

//
// Mixins
//

@mixin typo-preamble {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;

  @include media-breakpoint-up(sm) {
    font-size: 24px;
    line-height: 40px;
  }  
}

@mixin typo-primary {
  @include headline-base();
  letter-spacing: 0; 

  font-size: 44px;
  line-height: 48px;
  @include media-breakpoint-up(sm) {
    font-size: 72px;
    line-height: 84px;
  }
}


//
// h2 - headline secondary
//

@mixin typo-secondary-mobile {
  @include headline-base();
  font-size: 36px;
  letter-spacing: 0;
  line-height: 40px;
}

@mixin typo-secondary-desktop {
  @include headline-base();
  font-size: 52px;
  line-height: 72px;
  letter-spacing: -0.2px;
}

@mixin typo-secondary {
  @include typo-secondary-mobile();
  @include media-breakpoint-up(sm) {
    @include typo-secondary-desktop();
  }
}


//
// h3 - headline tetriary
//

@mixin typo-tetriary-base {
  font-family: "Vattenfall Hall Display";
  font-weight: 600;
}

@mixin typo-tetriary-mobile {
  @include headline-base();
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

@mixin typo-tetriary-desktop {
  @include typo-tetriary-base();
  font-size: 28px; 
  line-height: 1.33;
  letter-spacing: -0.2px;
}

@mixin typo-tetriary {
  @include typo-tetriary-mobile();
  @include media-breakpoint-up(sm) {
    @include typo-tetriary-desktop();
  }
}

// 
// h4 - headline quarternary
// 

@mixin typo-quaternary-desktop {
  font-family: "Vattenfall Hall Display";
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

@mixin typo-quaternary-mobile {
  font-family: "Vattenfall Hall Display";
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

@mixin typo-quaternary {
  @include typo-quaternary-mobile();
  
  @include media-breakpoint-up(sm) {
    @include typo-quaternary-desktop();
  }
}

@mixin typo-paragraph-primary-desktop {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

@mixin typo-paragraph-primary-mobile {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
}

@mixin typo-paragraph-primary {
  @include typo-paragraph-primary-mobile();
  
  @include media-breakpoint-up(sm) {
    @include typo-paragraph-primary-desktop();
  }
}

@mixin typo-paragraph-secondary-desktop {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.05px;
}

@mixin typo-paragraph-secondary-mobile {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

@mixin typo-paragraph-secondary {
  @include typo-paragraph-secondary-mobile();
  
  @include media-breakpoint-up(sm) {
    @include typo-paragraph-secondary-desktop();
  }
}

@mixin typo-intro-in-caps {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
    line-height: 36px;
  }
}

@mixin typo-intro-in-caps-small {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
}

@mixin typo-quote-mobile {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 40px;
}

@mixin typo-quote-desktop {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 60px;
}