.examples {
    margin: 10px 20px 60px 40px;
}

.examples__header{
    margin-top: 100px;
    }

.examples__image { 
    width: 450px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.examples__image-header {
    margin-top: 30px;
}

.examples__ios-image {
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}