// stylelint-disable declaration-no-important

//
// Text
//

.vf-text--monospace { font-family: $font-family-monospace; }

// Alignment

.vf-text--justify  { text-align: justify !important; }
.vf-text--nowrap   { white-space: nowrap !important; }
.vf-text--truncate { @include text-truncate; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .vf-text#{$infix}--left   { text-align: left !important; }
    .vf-text#{$infix}--right  { text-align: right !important; }
    .vf-text#{$infix}--center { text-align: center !important; }
  }
}

// Transformation

.vf-text--lowercase  { text-transform: lowercase !important; }
.vf-text--uppercase  { text-transform: uppercase !important; }
.vf-text--capitalize { text-transform: capitalize !important; }

// Weight and italics

.font-weight-light   { font-weight: $font-weight-light !important; }
.font-weight-lighter { font-weight: $font-weight-lighter !important; }
.font-weight-normal  { font-weight: $font-weight-normal !important; }
.font-weight-bold    { font-weight: $font-weight-bold !important; }
.font-weight-bolder  { font-weight: $font-weight-bolder !important; }
.font-italic         { font-style: italic !important; }

// Contextual colors

.vf-text--white { color: $white !important; }

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".vf-text--#{$color}", $value);
}

.vf-text--body { color: $body-color !important; }
.vf-text--muted { color: $text-muted !important; }

.vf-text--black-50 { color: rgba($black, .5) !important; }
.vf-text--white-50 { color: rgba($white, .5) !important; }

// Misc

.vf-text--hide {
  @include text-hide($ignore-warning: true);
}

.vf-text--decoration-none { text-decoration: none !important; }

// Reset

.text-reset { color: inherit !important; }
