// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.vf-btn {
  display: inline-block;
  font-weight: 500;
  font-family: "Vattenfall Hall";
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;

  padding: 9px 48px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 20px;

  @include transition($btn-transition);
  min-width: 180px;
  position: relative;

  &:before {
    content: '\2192';
    position: absolute;
    transform-origin: top left;
    transform: translate(-220%, 0);
    font-weight: normal;
    font-size: 20px;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-delay: 0ms;
  }

  &:hover:before {
    transition-delay: 150ms;
    transform: translate(-150%, 0);
    opacity: 1;
  }

  // Share hover and focus styles
  @include hover-focus {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .vf-btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.vf-btn.disabled,
fieldset:disabled a.vf-btn {
  pointer-events: none;
}

.vf-btn--primary {
  color: #111111;
  background: #FFDA00;

  @include hover {
    color: #111111;
    background: #FFE85B;
  }

  &:focus,
  &.focus {
    background: #F1C50B;
  }

  &.disabled,
  &:disabled {
    color: #767676;
    background-color: #EEEEEE;
  }
}

.vf-btn--secondary {
  color: white;
  background: #1964A3;

  @include hover {
    color: white;
    background: #2071B5;
  }

  &:focus,
  &:active,
  &.focus {
    color: white;
    background: #1E324F;
  }

  &.disabled,
  &:disabled {
    color: #767676;
    background-color: #EEEEEE;
  }
}

.vf-btn--tertiary {
  color: #222222;
  background: transparent;
  border: 2px #CDD1D4 solid;

  @include hover {
    color: white;
    background: #1964A3;
    border-color: #1964A3;
  }

  &:focus,
  &:active,
  &.focus {
    color: white;
    background: #1E324F;
    border-color: #1E324F;
  }

  &.disabled,
  &:disabled {
    color: #767676;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
  }

}

.vf-btn--outline-secondary {
  color: #1964A3;
  background: transparent;
  border: 2px #2071B5 solid;

  @include hover {
    color: white;
    background: #1964A3;
    border-color: #1964A3;
  }

  &:focus,
  &:active,
  &.focus {
    color: white;
    background: #1E324F;
    border-color: #1E324F;
  }

  &.disabled,
  &:disabled {
    color: #767676;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
  }
}

.vf-btn--outline-dark {
  color: #222222;
  background: transparent;
  border: 2px #222222 solid;

  @include hover {
    color: white;
    background: #222222;
    border-color: #222222;
  }

  &:focus,
  &:active,
  &.focus {
    color: white;
    background: #4E4B48;
    border-color: #4E4B48;
  }

  &.disabled,
  &:disabled {
    color: #767676;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
  }
}

//
// Button Sizes
//

.vf-btn--lg {
  padding: 12px 48px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 26px;
  min-width: 240px;

  &:before {
    font-size: 24px;
    transform: translate(-220%, 0);
  }

  &:hover:before {
    transform: translate(-150%, 0);
  }
}

.vf-link-with-arrow {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  position: relative;

  @include typo-paragraph-primary();
  font-weight: 500;
  color: #222222;

  &:before {
    content: '\2192';

    position: absolute;
    top: 0;
    left: 0;
    
    font-size: 28px;
    font-weight: normal;
    color: $vattenfall-mid-blue;

    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-delay: 0ms;
  }

  &:hover:before {
    color: $vattenfall-mid-blue;
    transform: translate(40%, 0);
  }

  &:active:before {
    color: #1E324F;
  }

  // For the arrow
  padding-left: 35px;

  @include hover {
    color: $vattenfall-mid-blue;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  &:active {
    color: #1E324F;
    text-decoration: none;
  }
}
  .vf-link-with-arrow--small {
    font-size: 16px;
  }

//
// Block button
//

.vf-btn--block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .vf-btn--block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.vf-btn--block {
    width: 100%;
  }
}