// stylelint-disable selector-no-qualifying-type

// Make the div behave like a button
.vf-btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle; // match .vf-btn alignment given font-size hack above
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  border-radius: 34px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);

  > .vf-btn-group__btn {
    position: relative;
    flex: 1 1 auto;

    // Bring the hover, focused, and "active" buttons to the front to overlay
    // the borders properly
    @include hover {
      z-index: 1;
    }
    &:focus,
    &:active,
    &.active {
      z-index: 1;
    }
  }
}

.vf-btn-group__btn {
  flex: 1;
  display: inline-block;
  vertical-align: middle;

  background: white;
  color: #1964A3;
  font-size: 16px;

  border: none;
  border-radius: 34px;

  position: relative;
  font-weight: 500;
  text-align: left;
  letter-spacing: -0.05px;
  line-height: 28px;
  padding: 20px 30px;
}

.vf-btn-group {
  // Prevent double borders when buttons are next to each other
  > .vf-btn-group__btn:not(:first-child) {
    margin-left: -$btn-border-width;
    border-radius: 34px;
  }

  // Reset rounded corners
  > .vf-btn-group__btn:not(:last-child) {
    @include border-right-radius(0);
  }

  > .vf-btn-group__btn:not(:first-child) {
    @include border-left-radius(0);
  }
}
