//
// Base styles
//

.vf-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }

  margin-bottom: 50px;
}


a.vf-card {
  transition: transform 230ms ease-in-out;
}

a.vf-card:hover {
  text-decoration: none;
}

.vf-card__body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
  color: #222222;
}

.vf-card__title {
  margin-bottom: $card-spacer-y;
  text-align: center;
  color: #222222;
  @include typo-quaternary();
}

// .vf-card__subtitle {
//   margin-top: -($card-spacer-y / 2);
//   margin-bottom: 0;
// }

.vf-card__text {
  @include typo-paragraph-primary-mobile();
  text-align: center;
}

.vf-card__text:last-child {
  margin-bottom: 0;
}

.vf-card__link {
  @include hover {
    text-decoration: none;
  }

  + .vf-card__link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.vf-card__header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.vf-card__footer {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


//
// Header navs
//

.vf-card__header-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-bottom: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-bottom: 0;
}

.vf-card__header-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}

// Card image
.vf-card__img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.vf-card__img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-radius($card-inner-border-radius);
}

// Card image caps
.vf-card__img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  margin-bottom: $card-spacer-y;
  @include border-top-radius($card-inner-border-radius);
}

.vf-card__img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-bottom-radius($card-inner-border-radius);
}

.vf-card__img, 
.vf-card__img-top ,
.vf-card__img-bottom {
  overflow: hidden;

  img {
    width: 100%;
    transition: transform 1200ms ease;
    transform: scale(1.0);
  }  
}

.vf-card:hover {
  .vf-card__img, 
  .vf-card__img-top ,
  .vf-card__img-bottom {
    img {
      transform: scale(1.3);
    }  
  }
}