.vf-cookie-banner {
  background: $vattenfall-dark-blue;
  // 56 hög
  color: white;
  @include typo-paragraph-primary();
  position: relative;

  text-align: left;
  padding: 10px 20px 10px 30px;

  @include media-breakpoint-up(sm) { 
    padding: 10px 0;
    text-align: center;
  }
}

.vf-cookie-banner__close-btn {
  position: absolute;
  right: 15px;
  background: transparent;
  border: none;
  color: white;
  font-weight: 300;

  right: 5px;
  font-size: 30px;
  
  @include media-breakpoint-up(sm) { 
    right: 15px;
    font-size: 40px;
  }
}