.vf-hero {
  position: relative;
  background: $vattenfall-blue-grey;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  width: 100%;
  max-width: $bleed-container-max-width + 20px; // To add the borders
  border-left: 20px white solid;
  border-right: 20px white solid;
  height: 60vh;

  @include media-breakpoint-down(md) {
    border-left: 30px white solid;
    border-right: 30px white solid;
  }

  @include media-breakpoint-down(sm) {
    font-size: 44px;
    height: 370px;
    min-height: 370px;

    border-left: 20px white solid;
    border-right: 20px white solid;
  }
}

.vf-hero__content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  text-align: center;
  @include typo-paragraph-secondary-mobile();
  
  @include media-breakpoint-up(sm) {
    @include typo-paragraph-primary-desktop();
  }
  
  color: white;

  a {
    color: white;
  }
}

.vf-hero__headline {
  color: white;
  margin: 0 auto;
  max-width: 90%;
  padding-bottom: 10px;
  @include media-breakpoint-up(sm) { 
    padding-bottom: 32px;
  }
}
