$vf-image-with-icon-widths: (
  md: 600px,
  lg: 774px,
  xl: 960px
);

.vf-image-with-icon {
  background: $vattenfall-dark-blue;
  margin: 0 auto;
  @include make-container-max-widths($vf-image-with-icon-widths);
  position: relative;
}

.vf-image-with-icon--dimmed:before {
  content: "";
  display: block;
  position: absolute;

  background: rgba(0,0,0,.2);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vf-image-with-icon__image {
  object-fit: cover;
  width: 100%;
  min-height: 360px;
}

.vf-image-with-icon__caption {
  color: white;
  @include typo-paragraph-primary-mobile();
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: $share-icon-size * 2;
  padding-bottom: $share-icon-size / 2;
  padding-top: $share-icon-size / 2;

  @include media-breakpoint-up(sm) {
    @include typo-paragraph-secondary-desktop();

  }
}

$share-icon-size: 48px;

.vf-image-with-icon__icon {
  position: absolute;
  top: 24px;
  left: 24px;
  width: $share-icon-size;
  height: $share-icon-size;
  border-radius: 50%;
  display: block;
  background: white;
  color: #222;
  font-size: 0;
  overflow: hidden;
  text-indent: 200px;
  line-height: $share-icon-size;
  text-align: center;
  background-image: $icon-share;
  background-repeat: no-repeat;
  background-position: center center;
}

.vf-image-with-icon__description {
  color: white;
  display: block;
  line-height: $share-icon-size;
}