
$vf-image-with-caption-widths: (
  md: 600px,
  lg: 774px,
  xl: 960px
);

.vf-image-with-caption {
  background: $vattenfall-dark-moss;
  margin: 0 auto;
  @include make-container-max-widths($vf-image-with-caption-widths);
  padding-bottom: 35px;
}

.vf-image-with-caption__image {
  object-fit: cover;
  width: 100%;
  height: 252px;
  @include media-breakpoint-up(sm) {
    height: 436px;
  }

  &.vf-image-with-caption__image--full{
    object-fit: contain;
    height: auto!important;

  }
}

.vf-image-with-caption__caption {
  color: white;
  @include typo-paragraph-primary-mobile();
  margin-top: 30px;
  margin-left: 21px;
  margin-right: 21px;
  margin-bottom: 0;
  position: relative;

  @include media-breakpoint-up(sm) {
    @include typo-paragraph-secondary-desktop();
    margin-left: $spacing-md;
    margin-right: $spacing-md;
    padding-left: 50px;
    border-left: 2px white solid;
  }
}

$share-icon-size: 48px;

.vf-image-with-caption__share {
  position: absolute;
  top: - (($share-icon-size / 2) + 30);
  left: 0;
  width: $share-icon-size;
  height: $share-icon-size;
  border-radius: 50%;
  display: block;
  background: white;
  color: #222;
  font-size: 0;
  overflow: hidden;
  text-indent: 200px;
  line-height: $share-icon-size;
  text-align: center;

  background-image: $icon-share;
  background-repeat: no-repeat;
  background-position: center center;

  @include media-breakpoint-up(sm) {
    left: - ($share-icon-size / 2) + 1;
  }
}