.vf-input-container{

	position: relative;
	cursor: pointer;
	line-height: 1;

	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
	    outline: none;
	}

	//Number input
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}

	input[type="number"] {

		appearance: textfield;
		padding-right: 40px;

	}

	.vf-input--number-increment, .vf-input--number-decrement{
		position: absolute;
		right: 1px;
		height: 48%;
		width: 40px;
		border-left: 1px solid rgb(232, 232, 233);
		background-repeat: no-repeat;
		background-size: 16px;
		background-position: 50%;
		box-sizing: content-box;
		
	}

	.vf-input--number-increment{
		top: 1px;

		&.vf-icon-up{

			&:before{ //Icon font

				position: absolute;
				font-size: 7px; //width 16px
				left: calc(50% - 8px);
				top: calc(50% - 3.5px);

			}
		}

	}

	.vf-input--number-decrement{
		border-top: 1px solid rgb(232, 232, 233);
		bottom: 1px;

		&.vf-icon-down{

			&:before{ //Icon font

				position: absolute;
				font-size: 7px; //width 16px
				left: calc(50% - 8px);
				top: calc(50% - 3.5px);

			}
		}
	}

	.vf-input{

		position: relative;
		min-width: 264px;
		background-color: rgb(255, 255, 255);
		color: rgb(34, 34, 34);
		padding: 16px 20px;
		border-radius: 4px 4px 4px 4px;
		border: 1px solid rgb(204, 204, 204);
		font-size: 20px;
		letter-spacing: 0px;
		line-height: 24px;
		font-weight: normal;

		&:hover{

			border: 1px solid rgb(153, 153, 153);

		}

		&:focus, &.vf-input--data{

			border: 1px solid rgb(25, 100, 163);

			& ~ label{				

				top: -9px;
				left: 16.5px;
				padding: 0 7px;
				color: rgb(25, 100, 163);
				// background-color: #fff;
				font-weight: 500;
				letter-spacing: 0px;

				transform: scale(0.7);
				transform-origin: top left; //center will be different for each label length
				label:after {
					content: '';
					display: block;
					top: -12px;
					width: 100%;
					position: relative;
					/* position: absolute; */
					/* padding-right: 100px; */
					transform: scaleX(1.05);
					z-index: -1;
					height: 2px;
					background: white;
				}
			}

		}

		&.vf-input--underline{

			background-color: transparent;
			border:none;
			border-bottom: 1px solid rgb(204, 204, 204);
			padding-left: 0;
			border-radius: 0;

			& ~ label{
				&:after {										
					background: transparent;
				}
				background-color: transparent;
				left: 0;
				padding: 0;
			}

			&.vf-input--error{

				box-shadow: 0 0 rgb(249, 59, 24);

				&:focus{

					box-shadow: 0 1px rgb(249, 59, 24);
					transition: box-shadow .2s ease-in-out;
				}

			}

			&.vf-input--warning{

				box-shadow: 0 0 rgb(245, 166, 35);

				&:focus{

					box-shadow: 0 1px rgb(245, 166, 35);
					transition: box-shadow .2s ease-in-out;

				}

			}

		}

		&.vf-input--error{

			border-color: rgb(255, 178, 164);

			&:hover{

				border-color: rgb(249, 59, 24);
			}

			&:focus{

				border-color: rgb(249, 59, 24);
			}

			& ~ label{

				color: rgb(249, 59, 24);
			}
		}

		&.vf-input--warning{

			border-color: rgb(255, 222, 168);

			&:hover{

				border-color: rgb(245, 166, 35);
			}

			&:focus{

				border-color: rgb(245, 166, 35);

			}

			& ~ label{

				color: rgb(245, 166, 35);
			}
		}
	}

	label{

		position: absolute;
		top: 17px;
		left: 20px;
		margin-bottom: 0;

		color: rgb(118, 118, 118);
		line-height: 25px;
		font-size: 20px;
		letter-spacing: 0px;
		pointer-events: none;
		cursor: default;

		transition: top .2s ease-in-out;
		&:after {
			content: '';
			display: block;
			top: -12.43666px;
			width: 100%;
			position: relative;
			-webkit-transform: scaleX(1.05);
			transform: scaleX(1.05) scaleY(1.1);
			z-index: -1;
			height: 2.6px;
			background: white;
		}

	}

	.vf-tooltip-message{

		opacity: 0;
		position: absolute;
		top: -26px;
		right: 27px;
		transform: translate(50%, 0);

	}

	.vf-input-tooltip-icon{ //Generated by js

		display: inline;
		cursor: pointer;


		&.vf-icon-question{ //Icon font

			&:before{

				position: absolute;
				top: calc(50% - 12px);;
				right: 15px;

			}

		}

		&:hover{

			~ .vf-tooltip-message{

				opacity: 1;
				transition: opacity .3s ease-in-out;
			}

		}

	}

}