$component-height-mobile: 330px;
$cutout-height-mobile: 50px;

$component-height-desktop: 680px;
$cutout-height-desktop: 85px;

.vf-large-quote {
  position: relative;
  overflow:hidden;

  @include make-container();
  @include make-container-max-widths($container-max-widths-except-sm);
  
  padding: 70px 0 70px 0;
  //height: 550px;

  @include media-breakpoint-up(sm) {
    height: $component-height-desktop;
    padding-top: 100px;
  }
}

.vf-large-quote:before {
  content: "“";
  position: absolute;
  top: 70px;
  text-align: center;
  color: #cdd1d4;
  border: 2px #cdd1d4 solid;
  width: 48px;
  height: 48px;
  line-height: 72px;
  border-radius: 50%;
  font-size: 68px;

  left: 21px;
  @include media-breakpoint-up(sm) {
    top: 100px;
    left: 0;
  }
}

.vf-large-quote__content {
  text-align: left;
  width: 100%;
  position: relative;
  z-index: 20;
  top: -200px;
  margin-bottom: -200px;

  @include media-breakpoint-up(sm) {
    padding: 0;
    margin: 0;
    width: 82%;
    position: absolute;
    top: 396px; // IE Hack
    top: initial;

    bottom: 0;
  }
}

.vf-large-quote__quote {
  color: #222222;
  padding: 48px 0px 48px;
  margin: 0 21px 0 0;

  background: white;
  
  @include typo-quote-mobile();

  @include media-breakpoint-down(sm) {
    padding-right: 12px;
  }
  
  @include media-breakpoint-up(sm) {
    @include typo-quote-desktop();
    padding: 40px 90px 0px 0;
  }
}

.vf-large-quote__byline { 
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  
  font-size: 20px;
  @include media-breakpoint-up(sm) {
    padding-left: 21px;
    padding-left: 0;
    font-size: 20px;
  }
}

.vf-large-quote__byline-description {
  font-weight: normal;
  letter-spacing: -0.05px;
  line-height: 28px;
  
  font-size: 16px;
  @include media-breakpoint-up(sm) {
    padding-left: 21px;
    padding-left: 0;
  }
}

.vf-large-quote__illustration {
  position: relative;
  height: $component-height-mobile;

  @include media-breakpoint-up(sm) {
    height: 100%;
    width: 100%;
  }
}

.vf-large-quote__illustration-cutout {
  position: absolute;
  z-index: 10;

  top: - $cutout-height-mobile;
  left: 110px;

  height: $component-height-mobile + $cutout-height-mobile;

  @include media-breakpoint-up(sm) {
    top: - $cutout-height-desktop;
    left: 27%;
    height: 666px; //$component-height-desktop + $cutout-height-desktop;
  }

  // Reset normal img default sizings set from common libraries
  img {
    width: auto;
    max-width: none;
  }
}
.vf-large-quote__illustration-bg {
  position: absolute;

  height: $component-height-mobile;
  left: 155px;
  width: 100%;
  
  @include media-breakpoint-up(sm) {
    height: $component-height-desktop;
    width: 68%;
    right: 0;
    left: auto;
  }
}