.vf-notification-module-container{

	width: 333px;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: auto;

	.vf-notification-module-icon{

		display: inline-flex;
		margin:16px 10px 16px auto;
		padding: 10px;
		border-radius: 100%;
		color: $white;
		background-color: $link-color;
		cursor: pointer;

	}

	.vf-notification-module{

		position: absolute;
		top: 76px;
		background: $white;
		border-radius: 4px;
		border: 1px solid rgb(188, 188, 188);
		transform: scaleY(0);
		opacity: 0; 
		//transform-origin: top;
		transition: opacity 0.2s ease-in-out;

		&.vf-notification-module--show{
			transform: scaleY(1);
			opacity: 1;
		}

		.vf-notification-module-header{

			position: relative;
			color: $white;
			background-color: $link-color;
			font-family: Vattenfall Hall Display;
			font-size: 18px;
			letter-spacing: 0px;
			line-height: 24px;
			padding: 18px 20px;
			border-radius: 4px 4px 0 0;

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: -4px;
				right: 24px;
				width: 16px;
				height: 16px;
				border-top:10px solid $link-color;
				border-right:10px solid $link-color;
				transform: rotate(-45deg);

			}

			.vf-notification-module-header-settings{

				position: absolute;
				top: 16px;
				right: 20px;
				color: $white;

				&:hover{
					text-decoration: none;
				}

			}

		}

		.vf-notification-module-body{

			margin: 0 20px;

			.vf-notification-module-body-item{

				padding: 20px 0;
				border-bottom: 1px solid #e8e8e9;
				display: flex;

				.vf-notification-module-body-item-col1{

					padding-right: 12px;

					.vf-notification-module-body-item-image{

						height: 44px;
						width: 44px;
						border-radius: 50%;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
					}

				}


				.vf-notification-module-body-item-col2{

					.vf-notification-module-body-item-event{

						color: $dark;
						font-size: 16px;
						font-weight: 500;
						letter-spacing: -0.05px;
						line-height: 28px;

						.vf-notification-module-body-item-event-action{

							font-weight: 400;

						}



					}

					.vf-notification-module-body-item-time{

						color: rgb(136, 136, 136);
						font-weight: 400;
						letter-spacing: 0px;
						line-height: 24px;
						font-size: 14px;
						padding-top: 1px;

					}

				}

			}

			.vf-notification-module-footer{

				padding: 10px 0;
				text-align: center;

			}

		}

	}
}