.vf-small-quote {
  position: relative;
  padding: 36px 48px 37px;
  border-radius: 20px 20px 20px 20px;
  margin: 40px 0 60px;
  @include typo-paragraph-secondary-mobile();

  @include media-breakpoint-up(sm) {
    @include typo-paragraph-primary-desktop();
  }
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    
    left: 50%;
    
    border: 32px solid transparent;
    border-bottom: 0;
    border-right: 0;

    margin-left: -16px;
    margin-bottom: -32px;

    @include media-breakpoint-up(sm) {
      left: 70px;
    }
  }
}

/* Colors */
.vf-small-quote {
  background-color: #faf9dc; 

  &:after {
    border-top-color: #faf9dc;
  }
}

.vf-small-quote-byline {
  text-align: left;
  margin-bottom: $spacing-md;
  text-align: center;

  @include media-breakpoint-up(sm) {
    text-align: left;
    float: left;
    width: 168px;
    margin-right: $spacing-md;
  }
}
.vf-small-quote-byline-photo {
  margin: 0 auto;
  padding: 0;
  width: 45%;
  display: block;
  @include media-breakpoint-up(sm) {
    width: 100%;
  }
}
.vf-small-quote-byline-title {
  @include typo-paragraph-secondary-mobile();
  padding: 25px 0 15px 0;
  margin: 0;
  font-weight: 500;
}
.vf-small-quote-byline-description {
  @include typo-paragraph-secondary-mobile();
  color: $vattenfall-blue-grey;
  padding: 0 50px;
  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}