@mixin tooltip-color($background-color, $border-color, $color) {

	~ .vf-tooltip-message, .vf-tooltip-message{

		background: $background-color;
		border-color: $border-color;
		color: $color;

		&:before {

			border-color: $border-color;

		}

		&:after {

			border-color: $background-color;
		}

	}
}

@mixin tooltip-alignment($position) {

	~ .vf-tooltip-message{

		@if $position == left {

			right: 52px!important;

		} @else if $position == right {

			left: 100%!important;

		} @else if $position == bottom {

		}
	}

	.vf-tooltip-message{
		
		@if $position == left {

			right: calc(100% + 10px);

		} @else if $position == right {

			left: calc(100% + 10px);

		} @else if $position == bottom {

			bottom: -100%;

		}
	}

	~ .vf-tooltip-message, .vf-tooltip-message{

    	@if $position == left {

    		// top: 50%!important;
	    	transform: translate(0, 100%)!important;
		
		} @else if $position == right {

			// top: 50%!important;
	    	transform: translate(0, 100%)!important;
			right: auto!important;

		} @else if $position == bottom {

			top: auto!important;

		}

		&:before, &:after{

			@if $position == left {

				top: 0;
				left: auto;
				bottom: 0;
				transform: translate(0, 100%)rotate(-45deg);
				border-left: none;
				border-bottom: 1px solid rgb(197, 238, 204);
				border-right: 1px solid rgb(197, 238, 204);
				border-top: none;

			} @else if $position == right {

				top: 0;
				right: auto;
				bottom: 0;
				transform: translate(0, 100%)rotate(-45deg);
				border-left: 1px solid rgb(197, 238, 204);
				border-bottom: none;
				border-right: none;
				border-top: 1px solid rgb(197, 238, 204);

			} @else if $position == bottom {

				border-left: none;
				border-bottom: none;
				border-right: 1px solid rgb(197, 238, 204);
				border-top: 1px solid rgb(197, 238, 204);

			}

		}
			
		&:before {

			@if $position == left {

				right: -6px;

			} @else if $position == right {

				left: -6px;
				
			} @else if $position == bottom {

				top: -6px;

			}

		}

		&:after {

			@if $position == left {

				right: -5px;
				border-width: 10px;
				border-color: transparent $vattenfall-light-green $vattenfall-light-green transparent;

			} @else if $position == right {

				left: -5px;
				border-width: 10px;
				border-color: $vattenfall-light-green transparent transparent $vattenfall-light-green;

			} @else if $position == bottom {

				top: -5px;
				border-width: 10px;
				border-color: $vattenfall-light-green $vattenfall-light-green transparent transparent;

			}
		}
	}
}

.vf-tooltip{	
	position: relative;
	display: inline-flex;
	cursor: pointer;
	color: $link-color;

	&:hover{

		color: $link-hover-color;
		text-decoration: $link-hover-decoration;

		.vf-tooltip-message{

			opacity: 1;
			transition: opacity .3s ease-in-out;
		}
	}

	//&.vf-icon-question{
	&[class*="vf-icon-"]{

		color: inherit;

		&:hover{

			color: inherit;
			text-decoration: none;

		}

		.vf-tooltip-message{

			// top: calc(-100% - 18px);
			margin-bottom: 10px;

		}
	}
}

.vf-tooltip--left{

	@include tooltip-alignment(left);
	
}

.vf-tooltip--right{

	@include tooltip-alignment(right);

}

.vf-tooltip--bottom{

	@include tooltip-alignment(bottom);

	//&.vf-icon-question{
	&[class*="vf-icon-"]{

		~ .vf-tooltip-message, .vf-tooltip-message{

			// bottom: calc(-100% - 18px);
			bottom: -100%;
			transform: translate(50%, 100%);

		}
	}
}

.vf-tooltip--blue{

	@include tooltip-color(rgb(241, 248, 255), rgb(197, 220, 238), $vattenfall-mid-blue);
	
}

.vf-tooltip--red{

	@include tooltip-color(rgb(255, 245, 241), rgb(238, 200, 197), $vattenfall-dark-red);
	
}

.vf-tooltip--blue-solid{

	@include tooltip-color($vattenfall-mid-blue, $vattenfall-mid-blue, $white);
	
}

.vf-tooltip--green-solid{

	@include tooltip-color($vattenfall-dark-green, $vattenfall-dark-green, $white);
	
}

.vf-tooltip--red-solid{

	@include tooltip-color($vattenfall-dark-red, $vattenfall-dark-red, $white);
	
}

.vf-tooltip--yellow-solid{

	@include tooltip-color($vattenfall-sunflower-yellow, $vattenfall-sunflower-yellow, $dark);

}

//Also exists independently of .vf-tooltip - See input.md
.vf-tooltip-message{
	width: 180px;
	width: max-content;
	max-width: 180px;
	bottom: 100%;
	// top: -100%;
	opacity: 0;
	position: absolute;
	right: 50%;
	transform: translate(50%, 0);
	padding: 4px 10px;
	z-index: 999;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 20px;    
	pointer-events: none;
	background: $vattenfall-light-green;
	border: 1px solid rgb(197, 238, 204);
	border-radius: 4px 4px 4px 4px;
	color: $vattenfall-dark-green;

	&:before, &:after{

		content: '';
		display: block;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0;
		width: 10px;
		height: 10px; 
		border-left:1px solid rgb(197, 238, 204);
		border-bottom:1px solid rgb(197, 238, 204);
		border-radius: 3px;
		transform: rotate(-45deg);
    
	}

	&:before {

		bottom: -5px;
	}

	&:after {

		content: '';
		bottom: -4px;
		border-color: transparent transparent $vattenfall-light-green $vattenfall-light-green;
		border-width: 10px;

	}
}