[class*="vf-utility-typo--"]{
	font-family: Vattenfall Hall;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 24px;
}


.vf-utility-typo--error{
	color: $vattenfall-dark-red;
}

.vf-utility-typo--link{
	color: $vattenfall-mid-blue;
}

.vf-utility-typo--metadata{
	color: rgb(136, 136, 136);
}

.vf-utility-typo--success{
	color: $vattenfall-dark-green;
}

.vf-utility-typo--warning{
	color: rgb(245, 166, 35);
	
}