.vf-navbar {
  width: 100%;
}

.vf-navbar__logo {
  display: block;
  margin: 16px auto;
  height: 24px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.vf-navbar__subnav {
  background: $vattenfall-blue-grey;
}

.vf-navbar__nav {
  @include make-container();
  @include make-container-max-widths();
  line-height: 1;
  padding: 0;

  display: none;
  height: 56px;
  
  @include media-breakpoint-up(lg) {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.vf-navbar__nav--subnav {
  justify-content: center;
}

.vf-navbar__nav-item {
  color: #222222;
  font-weight: 500;
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 0;
  line-height: 64px;
  
  @include media-breakpoint-up(lg) {
    font-size: 1rem;
    line-height: 4rem; // 64px
    display: inline-block;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.25rem;
  }

  &:hover {
    text-decoration: none;
    color: $vattenfall-mid-blue;

    & .svg-text-color {
      fill: $vattenfall-mid-blue !important;
    }
  }   
}

  .vf-navbar__nav-item--active {
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      bottom: -10px;
      left: 50%;

      display: block;

      width: 0;
      height: 0;

      border: solid transparent;
      pointer-events: none;
      border-bottom-color: $vattenfall-blue-grey;
      border-width: 20px;
      margin-left: -20px;
    }
  }

.vf-navbar__nav--subnav .vf-navbar__nav-item {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.1px;
  color: #ffffff;
  padding: 0.75rem 1.25rem;

  &:hover {
    color: $vattenfall-mid-blue;
  }
}