// Contains overrides for Catalog default styles

p { 
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 28px;
}

#catalog {
  h1, h2, h3, h4, h5, h6 {
    color: #222222;
  }

  h2 {
    color: #222222;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 32px;
  }
}